{% extends 'base1.html' %}
<div>
  <head>
    {% block content %}
  </head>
</div>
<center><h2>Products</h2><center>
<center><table class="table table-bordered" style="border-width:5px; border:solid; border-color:black; width:75%">
  <thead>
    <tr style="border: 1px solid #000;">
      <th style="border: 1px solid #000;">ProductName</th>
      <th style="border: 1px solid #000;">Quantity</th>
      <th style="border: 1px solid #000;">Description</th>
      <th style="border: 1px solid #000;">Price</th>
        <th style="border: 1px solid #000;">PhoneNumber</th>
      <th style="border: 1px solid #000;">Status</th>
      <th colspan="2" style="border: 1px solid #000; padding-left: 6%;">Actions</th>
  </thead>
<tbody>
  </tr>
    {% for i in allProducts %}
        <tr style="border: 1px solid #000;">
          <td style="border: 1px solid #000;"><a href="/productinformation/{{i.id}}"><button> {{i.productName}} </button></a></td>
          <td style="border: 1px solid #000;">{{i.quantity}}</td>
          <td style="border: 1px solid #000;">{{i.description}}</td>
          <td style="border: 1px solid #000;">{{i.price}}</td>
          <td style="border: 1px solid #000;">{{i.phoneNumber}}</td>
          <td style="border: 1px solid #000;">
            {% if not i.status %}
            out of stock
            {% else %}
            In Stock
            {% endif %}
          </td>
      <td style="border: 1px solid #000;"><a href="/delete/{{i.id}}"><button type="button">delete</button></a></td>
      <td style="border: 1px solid #000;"><a href="/update/{{i.id}}"><button type="button">update</button></a></td>
    </tr>
    {% endfor %}
</tbody>

</table>
  </center>
  <div style="margin-left:75px"><a href="/home/"><button  style= "width:10%";>Back</button></a></div>
  {% endblock %}
